// @charset "utf-8";


.dictionary-list .content {
  -fx-fill: -fx-text-base-color;
}

.dictionary-list:focused .list-cell:filled:selected .content {
  -fx-fill: white;
}

.dictionary-list .head-name {
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

.dictionary-list .separator .line {
  -fx-border-color: derive(-fx-control-inner-background, -30%) transparent transparent transparent;
  -fx-border-insets: 2px 0px 0px 0px;
  -fx-border-style: dotted;
}

.dictionary-list:focused .list-cell:filled:selected .separator .line {
  -fx-border-color: derive(-fx-selection-bar, 50%) transparent transparent transparent;
}

.dictionary-list .shaleia-total-part,
.dictionary-list .shaleia-part,
.dictionary-list .slime-tag,
.dictionary-list .slime-equivalent-title,
.dictionary-list .slime-relation-title {
  -fx-font-size: 0.8em;
  -fx-border-color: derive(-fx-control-inner-background, -30%);
  -fx-border-style: solid;
  -fx-border-radius: 3px;
  -fx-padding: -1px 2px -1px 2px;
  -fx-margin: 0px 5px 0px 0px;
}

.dictionary-list:focused .list-cell:filled:selected .shaleia-total-part,
.dictionary-list:focused .list-cell:filled:selected .shaleia-part,
.dictionary-list:focused .list-cell:filled:selected .slime-tag,
.dictionary-list:focused .list-cell:filled:selected .slime-equivalent-title,
.dictionary-list:focused .list-cell:filled:selected .slime-relation-title {
  -fx-border-color: derive(-fx-selection-bar, 50%);
}

.dictionary-list .shaleia-pronunciation,
.dictionary-list .shaleia-title,
.dictionary-list .shaleia-possibility,
.dictionary-list .personal-pronunciation,
.dictionary-list .slime-pronunciation,
.dictionary-list .slime-title,
.dictionary-list .slime-id,
.dictionary-list .slime-possibility {
  -fx-font-size: 0.9em;
}

.dictionary-list .shaleia-creation-date {
  -fx-font-size: 0.8em;
}

.dictionary-list .shaleia-link,
.dictionary-list .slime-link {
  -fx-underline: true;
}

.dictionary-list .shaleia-italic {
  -fx-font-style: italic;
}

.setting-pane Text {
  -fx-fill: -fx-text-base-color;
}

.editor * {
  -fx-font-size: 1em;
}

.footer .label {
  -fx-font-size: 0.9em;
  -fx-alignment: center-right;
}

.application-name {
  -fx-font-size: 2em;
  -fx-font-weight: bold;
}

.application-version {
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
  -fx-text-fill: rgb(25, 77, 31);
}

.update-title {
  -fx-font-size: 1.5em;
}

.update-item-pane Text {
  -fx-fill: -fx-text-base-color;
  -fx-font-size: 1.2em;
}

.update-detail-pane {
  -fx-line-spacing: 2px;
}

.update-detail-pane Text {
  -fx-fill: -fx-text-base-color;
}

.preview-pane {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: 0px, 1px;
}

.frequency .table-column {
  -fx-alignment: baseline-center;
}

.save-progress-bar .bar {
  -fx-padding: 0.5em;
}

.large {
  -fx-font-size: 1.2em;
  -fx-text-fill: -fx-text-inner-color;
  -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
  -fx-highlight-text-fill: -fx-text-inner-color;
  -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border), -fx-background;
  -fx-background-insets: 0px, 1px;
  -fx-background-radius: 3px, 2px;
  -fx-padding: 0.166667em 0.583333em 0.166667em 0.583333em;
  -fx-alignment: baseline-center;
}

.transparent {
  -fx-background-color: transparent;
  -fx-background-insets: 0px;
}

.transparent:focused {
  -fx-background-insets: 0px;
}

.opaque {
  -fx-background-color: -fx-background;
}

.right-legend-chart .chart-content {
  -fx-padding: 0px 10px 0px 0px;
}

.other.chart-pie {
  -fx-pie-color: hsb(0, 0%, 55%);
}

.other-legend-symbol {
  -fx-background-color: radial-gradient(radius 100%, derive(hsb(0, 0%, 55%), 20%), derive(hsb(0, 0%, 55%), -10%));
}

.pie-caption,
.chart-caption {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px, 1px;
  -fx-background-radius: 3px, 2px;
  -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; 
  -fx-text-alignment: center;
}

.default-color0.pie-caption {
  -fx-background-color: derive(CHART_COLOR_1, -30%), -fx-background;
}

.default-color1.pie-caption {
  -fx-background-color: derive(CHART_COLOR_2, -30%), -fx-background;
}

.default-color2.pie-caption {
  -fx-background-color: derive(CHART_COLOR_3, -30%), -fx-background;
}

.default-color3.pie-caption {
  -fx-background-color: derive(CHART_COLOR_4, -30%), -fx-background;
}

.default-color4.pie-caption {
  -fx-background-color: derive(CHART_COLOR_5, -30%), -fx-background;
}

.default-color5.pie-caption {
  -fx-background-color: derive(CHART_COLOR_6, -30%), -fx-background;
}

.default-color6.pie-caption {
  -fx-background-color: derive(CHART_COLOR_7, -30%), -fx-background;
}

.default-color7.pie-caption {
  -fx-background-color: derive(CHART_COLOR_8, -30%), -fx-background;
}

.other.pie-caption {
  -fx-background-color: derive(hsb(0, 0%, 55%), -30%), -fx-background;
}

.default-color0.chart-caption {
  -fx-background-color: derive(CHART_COLOR_1, -30%), -fx-background;
}

.caption-arrow {
  -fx-shape: "M 2.5,0 L 0,6 5,6 Z";
}

.default-color0.caption-arrow {
  -fx-background-color: derive(CHART_COLOR_1, -30%);
}