// @charset "utf-8";


.column-header .text {
  -fx-font-weight: normal;
}

.text-input.left-pill {
  -fx-background-radius: 3px 0px 0px 3px, 2px 0px 0px 2px;
}

.text-input.left-pill:focused {
  -fx-background-radius: 3px 0px 0px 3px, 2px 0px 0px 2px, 4px 0px 0px 4px, 0px;
}

.tree-cell:odd {
  -fx-background: -fx-control-inner-background-alt;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected {
  -fx-background: -fx-selection-bar;
}

.tree-cell:filled:selected {
  -fx-background: -fx-selection-bar-non-focused;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused {
  -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.split-pane {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.split-pane > .split-pane-divider {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.split-pane > * > .list-view,
.split-pane > * > .table-view,
.split-pane > * > .tree-view {
  -fx-background-insets: 0px, 1px;
  -fx-padding: 1px;
}

.split-pane > * > .list-view:focused,
.split-pane > * > .table-view:focused,
.split-pane > * > .tree-view:focused {
  -fx-background-insets: -1.4px, -0.3px, 1px;
}

.titled-pane {
  -fx-animated: false;
}

.tab-pane {
  -fx-open-tab-animation: none;
  -fx-close-tab-animation: none;
}

.chart {
  -fx-padding: 0px;
}

.chart-content {
  -fx-padding: 0px;
}

.tooltip {
  -fx-padding: 0.416667em 0.583333em;
  -fx-font-size: 0.9em;
}

.list-close-button {
  -fx-background-color: -fx-mark-color;
  -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
  -fx-scale-shape: false;
  -fx-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 0.4), 1, 0, 0, 1);
}

.list-close-button:hover {
  -fx-background-color: derive(-fx-mark-color, -30%);
}

.list-view:focused .list-cell:filled:selected .list-close-button {
  -fx-background-color: derive(-fx-selection-bar, 85%);
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 0, 1);
}

.list-view:focused .list-cell:filled:selected .list-close-button:hover {
  -fx-background-color: derive(derive(-fx-selection-bar, 85%), 30%);
}

.help-indicator .label {
  -fx-font-weight: bold;
  -fx-text-fill: -fx-outer-border;
}

.help-indicator .circle {
  -fx-fill: -fx-control-inner-background;
  -fx-stroke: -fx-outer-border;
}

Text {
  -fx-font-smoothing-type: lcd;
}