/* @charset "utf-8"; */


.column-header .text {
  -fx-font-weight: normal;
}

.text-input.left-pill {
  -fx-background-radius: 3px 0px 0px 3px, 2px 0px 0px 2px;
}

.text-input.left-pill:focused {
  -fx-background-radius: 3px 0px 0px 3px, 2px 0px 0px 2px, 4px 0px 0px 4px, 0px;
}

.tree-cell:odd {
  -fx-background: -fx-control-inner-background-alt;
}

.tree-view:focused >.virtual-flow >.clipped-container >.sheet >.tree-cell:filled:selected {
  -fx-background: -fx-selection-bar;
}

.tree-cell:filled:selected {
  -fx-background: -fx-selection-bar-non-focused;
}

.tree-view:focused >.virtual-flow >.clipped-container >.sheet >.tree-cell:focused {
  -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.split-pane {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.split-pane >.split-pane-divider {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.split-pane >* >.list-view,
.split-pane >* >.table-view,
.split-pane >* >.tree-view {
  -fx-background-insets: 0px, 1px;
  -fx-padding: 1px;
}

.split-pane >* >.list-view:focused,
.split-pane >* >.table-view:focused,
.split-pane >* >.tree-view:focused {
  -fx-background-insets: -1.4px, -0.3px, 1px;
}

.scroll-pane {
  -fx-background-color: -fx-background !important;
  -fx-background-insets: 0px !important;
  -fx-padding: 0px !important;
}

.titled-pane {
  -fx-animated: false;
}

.tab-pane {
  -fx-open-tab-animation: none;
  -fx-close-tab-animation: none;
}

.tab-pane:bottom >.tab-header-area >.tab-header-background {
  -fx-background-insets: 0px, 0px 0px 1px 0px, 1px;
}

.chart {
  -fx-padding: 0px;
}

.chart-content {
  -fx-padding: 0px;
}

.chart-series-area-line {
  -fx-stroke-width: 3px;
}

.tooltip {
  -fx-padding: 0.416667em 0.583333em;
  -fx-font-size: 0.9em;
}

.list-close-button {
  -fx-background-color: -fx-mark-color;
  -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
  -fx-scale-shape: false;
  -fx-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 0.4), 1, 0, 0, 1);
}

.list-close-button:hover {
  -fx-background-color: derive(-fx-mark-color, -30%);
}

.list-view:focused .list-cell:filled:selected .list-close-button {
  -fx-background-color: derive(-fx-selection-bar, 85%);
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 0, 1);
}

.list-view:focused .list-cell:filled:selected .list-close-button:hover {
  -fx-background-color: derive(derive(-fx-selection-bar, 85%), 30%);
}

.help-indicator .label {
  -fx-font-weight: bold;
  -fx-text-fill: -fx-outer-border;
}

.help-indicator .circle {
  -fx-fill: -fx-control-inner-background;
  -fx-stroke: -fx-outer-border;
}

.code-area-wrapper {
  -fx-padding: 1px;
  -fx-cursor: default;
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border), derive(-fx-base,-1%);
  -fx-background-insets: 0px, 1px;
  -fx-background-radius: 3px, 2px;
}

.code-area-wrapper:content-focused {
  -fx-background-color: -fx-focus-color, -fx-control-inner-background, -fx-faint-focus-color, linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: -0.2px, 1px, -1.4px, 3px;
  -fx-background-radius: 3px, 2px, 4px, 0px;
}

.styled-text-area {
  -fx-padding: 0.25em 0.416667em 0.25em 0.416667em;
  -fx-background-color: linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
  -fx-background-radius: 2px;
  -fx-highlight-fill: derive(derive(-fx-control-inner-background, -20%), 80%);
  -fx-cursor: text;
}

.styled-text-area:focused {
  -fx-background-color: -fx-control-inner-background, -fx-faint-focus-color, linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: 0px, 0px, 2px;
  -fx-background-radius: 2px, 1px, 0px;
  -fx-highlight-fill: derive(-fx-accent, 80%);
}

.styled-text-area .text {
  -fx-fill: -fx-text-inner-color;
}

.root {
  CHART_COLOR_1: hsb(0, 60%, 80%);
  CHART_COLOR_2: hsb(30, 60%, 80%);
  CHART_COLOR_3: hsb(60, 65%, 80%);
  CHART_COLOR_4: hsb(120, 65%, 80%);
  CHART_COLOR_5: hsb(180, 70%, 80%);
  CHART_COLOR_6: hsb(230, 70%, 80%);
  CHART_COLOR_7: hsb(270, 65%, 80%);
  CHART_COLOR_8: hsb(320, 60%, 80%);
  CHART_COLOR_1_TRANS_20: hsba(0, 60%, 80%, 0.2);
  CHART_COLOR_2_TRANS_20: hsba(30, 60%, 80%, 0.2);
  CHART_COLOR_3_TRANS_20: hsba(60, 65%, 80%, 0.2);
  CHART_COLOR_4_TRANS_20: hsba(120, 65%, 80%, 0.2);
  CHART_COLOR_5_TRANS_20: hsba(180, 70%, 80%, 0.2);
  CHART_COLOR_6_TRANS_20: hsba(230, 70%, 80%, 0.2);
  CHART_COLOR_7_TRANS_20: hsba(270, 65%, 80%, 0.2);
  CHART_COLOR_8_TRANS_20: hsba(320, 60%, 80%, 0.2);
  CHART_COLOR_1_TRANS_70: hsba(0, 60%, 80%, 0.7);
  CHART_COLOR_2_TRANS_70: hsba(30, 60%, 80%, 0.7);
  CHART_COLOR_3_TRANS_70: hsba(60, 65%, 80%, 0.7);
  CHART_COLOR_4_TRANS_70: hsba(120, 65%, 80%, 0.7);
  CHART_COLOR_5_TRANS_70: hsba(180, 70%, 80%, 0.7);
  CHART_COLOR_6_TRANS_70: hsba(230, 70%, 80%, 0.7);
  CHART_COLOR_7_TRANS_70: hsba(270, 65%, 80%, 0.7);
  CHART_COLOR_8_TRANS_70: hsba(320, 60%, 80%, 0.7);
}

Text {
  -fx-font-smoothing-type: lcd;
}