// @charset "utf-8";


#dictionary-list .content {
  -fx-fill: -fx-text-base-color;
}

#dictionary-list:focused .list-cell:filled:selected .content {
  -fx-fill: white;
}

#dictionary-list .head-name {
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

#dictionary-list .shaleia-total-part,
#dictionary-list .shaleia-part,
#dictionary-list .slime-tag,
#dictionary-list .slime-equivalent-title {
  -fx-font-size: 0.8em;
  -fx-border-color: derive(-fx-control-inner-background, -30%);
  -fx-border-style: solid;
  -fx-border-radius: 3px;
  -fx-padding: 0px 2px 0px 2px;
  -fx-margin: 0px 5px 0px 0px;
}

#dictionary-list:focused .list-cell:filled:selected .shaleia-total-part,
#dictionary-list:focused .list-cell:filled:selected .shaleia-part,
#dictionary-list:focused .list-cell:filled:selected .slime-tag,
#dictionary-list:focused .list-cell:filled:selected .slime-equivalent-title {
  -fx-border-color: derive(-fx-selection-bar, 50%);
}

#dictionary-list .shaleia-creation-date,
#dictionary-list .shaleia-title,
#dictionary-list .slime-title,
#dictionary-list .slime-id,
#dictionary-list .slime-possibility {
  -fx-font-size: 0.9em;
}

#dictionary-list .shaleia-link,
#dictionary-list .slime-link {
  -fx-underline: true;
}

#dictionary-list .shaleia-italic {
  -fx-font-style: italic;
}

.setting-pane Text {
  -fx-fill: -fx-text-base-color;
}

.editor > * {
  -fx-font-size: 1em;
}

.footer .label {
  -fx-font-size: 0.9em;
  -fx-alignment: center-right;
}

.application-name {
  -fx-font-size: 2em;
  -fx-font-weight: bold;
}

.application-version {
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

.update-title {
  -fx-font-size: 1.5em;
}

.update-item-pane Text {
  -fx-fill: -fx-text-base-color;
  -fx-font-size: 1.2em;
}

.update-detail-pane Text {
  -fx-fill: -fx-text-base-color;
}

.transparent {
  -fx-background-color: transparent;
  -fx-background-insets: 0px;
}

.transparent:focused {
  -fx-background-insets: 0px;
}

.opaque {
  -fx-background-color: -fx-background;
}