// @charset "utf-8";


.column-header .text {
  -fx-font-weight: normal;
}

.text-input.left-pill {
  -fx-background-radius: 3px 0px 0px 3px, 2px 0px 0px 2px;
}

.text-input.left-pill:focused {
  -fx-background-radius: 3px 0px 0px 3px, 2px 0px 0px 2px, 4px 0px 0px 4px, 0px;
}

.tree-cell:odd {
  -fx-background: -fx-control-inner-background-alt;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected {
  -fx-background: -fx-selection-bar;
}

.tree-cell:filled:selected {
  -fx-background: -fx-selection-bar-non-focused;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused {
  -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.split-pane {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.split-pane > .split-pane-divider {
  -fx-background-color: -fx-background;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.split-pane > * > .list-view,
.split-pane > * > .table-view,
.split-pane > * > .tree-view {
  -fx-background-insets: 0px, 1px;
  -fx-padding: 1px;
}

.split-pane > * > .list-view:focused,
.split-pane > * > .table-view:focused,
.split-pane > * > .tree-view:focused {
  -fx-background-insets: -1.4px, -0.3px, 1px;
}

Text {
  -fx-font-smoothing-type: lcd;
}